@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100%;
}

p {
  color: #5a5a5a;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  max-width: 1300px;
  width: 100%;
  margin: auto;
}

.headerContainer {
  display: flex;
  background: white;
  flex-wrap: wrap;
  margin: auto;
  width: 100%;
  box-shadow: 0px 5px 9px 2px rgba(0, 0, 0, 0.14);
  position: fixed;
  top: 0;
  z-index: 10;
}
.headerContainer__content {
  max-width: 1300px;
  width: 100%;
  margin: auto;
}

.dropMenu__body {
  list-style: none;
  width: 100%;
  display: none;
}

.li {
  margin-top: 10px;
  margin-bottom: 17px;
  margin-left: 20px;
  font-weight: 800;
}

.headerSvg {
  margin-right: 2.5rem;
}
@media only screen and (max-width: 800px) {
  .headerSvg {
    display: flex;
  }
}
@media only screen and (min-width: 801px) {
  .headerSvg {
    display: none;
  }
}

.name {
  margin-left: 2%;
  font-weight: 1000;
  font-size: 2rem;
  color: #5371ff;
  letter-spacing: 1px;
  min-width: 120px;
  width: 100%;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.menu {
  list-style: none;
  max-width: 35%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 9.5rem;
}
@media only screen and (max-width: 800px) {
  .menu {
    display: none;
  }
}
@media only screen and (min-width: 801px) {
  .menu {
    display: flex;
  }
}
.menu__item {
  margin-left: 2rem;
  margin-top: 10px;
  margin-bottom: 10px;
}
.menu__link {
  position: relative;
  text-decoration: none;
  color: black;
  letter-spacing: 0.7px;
}
.menu__link:hover {
  color: blue;
}
.menu__link:active {
  color: lightblue;
}
.menu__link::after {
  content: " ";
  width: 100%;
  height: 2.2px;
  border-radius: 10px;
  position: absolute;
  top: 100%;
  left: 0;
  background: currentColor;
  transform: scale(0);
  transition: all 0.4s ease;
  transform-origin: center;
}
.menu__link:hover::after {
  transform: scale(1.1);
}

.selected {
  color: blue;
}

.footerContainer {
  width: 100%;
  height: 60px;
  display: flex;
  z-index: 0;
  position: relative;
  box-shadow: 0px -1px 6px 0.1px #ccc;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.side1Container {
  box-sizing: border-box;
  min-width: 197.5px;
  width: 100%;
  border-radius: 10px;
  margin-top: 15%;
  overflow: hidden;
  margin-left: 1%;
  margin-right: 1.3%;
  box-shadow: 3px 10px 20px 10px #ccc;
  margin-bottom: 13%;
}
@media only screen and (max-width: 800px) {
  .side1Container {
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 150px;
  }
}
@media only screen and (min-width: 801px) {
  .side1Container {
    max-width: 22%;
  }
}

.sid1Container__part1 {
  margin-top: 15%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  flex-direction: column;
}

.side1Container__part1__img {
  width: 100%;
}
@media only screen and (max-width: 800px) {
  .side1Container__part1__img {
    margin-top: 0px;
  }
}

.side1Container__part1__icons {
  width: 100%;
  min-height: 48px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  line-height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  list-style-type: none;
  position: absolute;
  bottom: 0px;
}
.side1Container__part1__icons:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.icon {
  border-radius: 4px;
  width: 13%;
  background: seashell;
  transition: all 0.1s ease;
}
.icon:hover {
  transform: scale(1.3);
}

.iconP {
  width: 42%;
}

.side1Container__part2 {
  padding: 0 15px;
  font-size: small;
}

.details {
  margin: 20px 0px;
  margin-bottom: 10px;
}
.details__h3 {
  color: #51535d;
  margin-bottom: 5px;
}

.side1__attachememts {
  padding: 0px 15px;
  margin-top: 40px;
}

.attachment__download {
  max-width: 100%;
  border-radius: 20px;
  border: solid 2px #5371ff;
  text-align: center;
  height: 35px;
  line-height: 35px;
  margin: 15px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: all 0.5s ease;
  overflow: hidden;
  position: relative;
  z-index: 2;
  box-shadow: 0px 10px 15px 3px rgba(0, 0, 0, 0.3);
}
.attachment__download::after {
  content: " ";
  height: 120%;
  width: 120%;
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  background: #5371ff;
  transform-origin: right;
  transform: scale(0, 1) skewX(-90deg);
  transition: all 1s ease;
  z-index: 1;
}
.attachment__download:hover {
  box-shadow: 0 8px 5px 4px rgba(0, 0, 0, 0.5);
}
.attachment__download:hover .attachment__download__link {
  color: seashell;
}
.attachment__download:hover::after {
  transform: scale(1.5, 1);
}
.attachment__download__link {
  width: 100%;
  text-decoration: none;
  font-size: 13px;
  color: #5371ff;
  transition: all 0.5s ease;
  position: relative;
  z-index: 2;
}
.attachment__download__svg {
  position: absolute;
  left: 10%;
}

.side2Container {
  box-shadow: 3px 10px 20px 10px #ccc;
  padding: 3% 5%;
  box-sizing: border-box;
  margin-top: 15%;
  max-width: 72%;
  width: 100%;
  border-radius: 10px;
  margin-right: 1%;
  margin-bottom: 13%;
}
@media only screen and (max-width: 800px) {
  .side2Container {
    max-width: 100%;
    margin-left: 9px;
    margin-right: 9px;
    margin-top: 0px;
  }
}
.side2Container__part2 {
  margin-top: 65px;
  width: 100%;
  position: relative;
}
.side2Container__description {
  margin-bottom: 22px;
}
.side2Container__p {
  color: grey;
  color: #5a5a5a;
}

.part2__body {
  margin-top: 38px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 13px;
  position: relative;
}
.part2__body__icon {
  font-size: 40px;
  color: gray;
  transition: all 1s ease;
}
.part2__body__icon:hover {
  animation-name: upDown;
  animation-duration: 0.8s;
}
.part2__body__shadowtext1, .part2__body__shadowtext2 {
  color: #d3daff;
  font-size: 55px;
  position: absolute;
  left: 74px;
  top: -28px;
  z-index: -1;
}
.part2__body__shadowtext2 {
  left: -26px;
}
.part2__body__h2 {
  text-shadow: 0.05em 0.05em 0.1em black;
  color: gray;
}
.part2__body__h3 {
  max-width: 25%;
  width: 100%;
  margin-left: 25px;
  margin-right: 10px;
}
.part2__body__h3:hover {
  animation-name: upDown;
  animation-duration: 0.8s;
}
.part2__body__p {
  max-width: 60%;
  width: 100%;
  color: #5a5a5a;
}

@keyframes upDown {
  0% {
    transform: translateY(0rem);
  }
  25% {
    transform: translateY(-0.625rem);
  }
  75% {
    transform: translateY(0.625rem);
  }
  100% {
    transform: translateY(0rem);
  }
}
.seemore {
  margin-top: 15px;
  margin-left: 85%;
  top: 100px;
  font-size: 15px;
  font-weight: 500;
}
.seemore__a {
  text-decoration: none;
  letter-spacing: 1px;
}
.seemore::after {
  margin-left: 85%;
  content: " ";
  height: 3px;
  max-width: 130px;
  width: 100%;
  border-radius: 20px;
  position: absolute;
  left: 0;
  top: 100%;
  background: #5371ff;
  transition: all 0.3s ease;
  transform-origin: left;
  transform: scale(0.2, 1);
}
.seemore:hover::after {
  transform: scale(0.7);
}
.seemore:hover {
  color: #5371ff;
  font-style: italic;
}

.party2__body__title2 {
  width: 100%;
  position: relative;
  margin-top: 10px;
}

.hrLine {
  margin-top: 10px;
  margin-bottom: 10px;
}

.entryContainer {
  border-left: solid #eee 2px;
  padding-top: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 60px;
}

.entry {
  border: solid #eee 2px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  margin-left: 30px;
  margin-bottom: 50px;
  transition: all 0.5s ease;
}
.entry:hover {
  box-shadow: 0px 10px 6px 5px rgba(0, 0, 0, 0.3);
}
.entry::before {
  content: " ";
  width: 12px;
  height: 12px;
  border-radius: 10px;
  background-color: #5371ff;
  display: inline-block;
  box-shadow: 0 0 0 0.1875rem rgba(48, 76, 253, 0.25);
  position: relative;
  left: -58px;
}
.entry::after {
  content: "";
  display: inline-block;
  background: #5371ff;
  height: 2px;
  width: 21px;
  border-radius: 1px;
  position: relative;
  left: -43px;
  top: -135px;
}
.entry__h4 {
  margin-bottom: 20px;
}
.entry__p {
  font-size: 13px;
  letter-spacing: 0.7;
  max-width: 400px;
}

.lastEntry {
  margin-bottom: 15px;
}

textarea:focus, input:focus {
  outline: none;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  position: relative;
}

.textarea {
  box-sizing: border-box;
  border-radius: 20px;
  width: 100%;
  height: 47px;
  background: #ecf0f1;
  border: none;
  margin: 8px 0px;
  overflow: hidden;
  padding-right: 20px;
  padding-left: 50px;
}

.formicon {
  font-size: 20px;
  color: #8697a8;
  position: relative;
  bottom: -47px;
  right: -20px;
}

.label {
  color: #585858;
  font-size: 13px;
  position: relative;
  bottom: -41.2px;
  right: -25px;
  transition: all 0.3s ease;
}

.reset {
  bottom: 0px;
  right: 0px;
}

.messagetextArea {
  min-height: 230px;
  padding: 11px 45px;
}

.words {
  margin-top: 20px;
}

.span::before {
  content: "";
  height: 45px;
  width: 110%;
  position: absolute;
  left: 0;
  bottom: -7px;
  background-color: rgba(34, 148, 245, 0.55);
  transform: scale(0, 1);
  transform-origin: left;
  transition: all 0.4s ease;
  z-index: 0;
}

.span::after {
  content: "";
  height: 45px;
  width: 110%;
  position: absolute;
  left: 0;
  bottom: -7px;
  background-color: rgba(34, 148, 245, 0.55);
  transform: scale(0, 1);
  transform-origin: right;
  transition: all 0.4s ease;
  z-index: 0;
}

.formButton {
  margin-top: 20px;
  min-height: 40px;
  border-radius: 10px;
  border: 1px solid #00adef;
  color: #00adef;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 600;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
  position: relative;
  z-index: 2;
}
.formButton:hover {
  color: white;
  border: white;
}
.formButton::before {
  content: "";
  height: 45px;
  width: 101%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(34, 148, 245, 0.55);
  transform: scale(0, 1);
  transform-origin: left;
  transition: all 0.4s ease;
  transition-delay: 0.2s;
  z-index: 0;
}
.formButton:hover::before {
  transform: scale(1, 1);
}
.formButton::after {
  content: "";
  height: 50px;
  width: 110%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(34, 148, 245, 0.55);
  transform: scale(0, 1);
  transform-origin: right;
  transition: all 0.4s ease;
  transition-delay: 0.2s;
  z-index: 0;
}
.formButton:hover::after {
  transform: scale(1, 1);
}

.span {
  width: 100%;
  height: 100%;
  position: relative;
}

.send {
  position: relative;
  z-index: 10;
}

.span:hover::before {
  transform: scale(1, 1);
}

.span:hover::after {
  transform: scale(1, 1);
}

.homeBodyContainer {
  width: 100%;
  padding: 30px 30px;
  position: relative;
}

@media only screen and (min-width: 1024px) {
  .homepart1 {
    margin-top: 8%;
  }
}
@media only screen and (min-width: 500px) and (max-width: 1024px) {
  .homepart1 {
    margin-top: 16%;
  }
}
@media only screen and (max-width: 500px) {
  .homepart1 {
    margin-top: 25%;
  }
}

.text {
  font-size: 25px;
  margin: 15px;
  text-align: center;
}

.hometitle {
  font-size: 50px;
}

.vcardbutton {
  font-size: 18px;
  height: 40px;
  width: 25.5%;
  text-align: center;
  border: solid grey 0.9px;
  line-height: 40px;
  border-radius: 10px;
  margin-left: 37%;
  position: relative;
  overflow: hidden;
}
.vcardbutton:hover {
  color: white;
}
.vcardbutton::before {
  content: "";
  height: 40px;
  width: 101%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #5371ff;
  transform: scale(0, 1);
  transform-origin: left;
  transition: all 0.4s ease;
  transition-delay: 0.3s;
  z-index: 0;
}
.vcardbutton:hover::before {
  transform: scale(1, 1);
}
.vcardbutton::after {
  content: "";
  height: 40px;
  width: 101%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #5371ff;
  transform: scale(0, 1);
  transform-origin: right;
  transition: all 0.4s ease;
  transition-delay: 0.3s;
  z-index: 0;
}
.vcardbutton:hover::after {
  transform: scale(1, 1);
}

.vcardText {
  width: 100%;
  height: 100%;
  position: relative;
}
.vcardText::before {
  content: "";
  height: 40px;
  width: 110%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #5371ff;
  transform: scale(0, 1);
  transform-origin: left;
  transition: all 0.4s ease;
  z-index: 1;
}
.vcardText::after {
  content: "";
  height: 40px;
  width: 110%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #5371ff;
  transform: scale(0, 1);
  transform-origin: right;
  transition: all 0.4s ease;
  z-index: 0;
}
.vcardText:hover::after {
  transform: scale(1, 1);
}
.vcardText:hover::before {
  transform: scale(1, 1);
}

.vcardText2 {
  position: relative;
  z-index: 12;
}

.vcardLink {
  text-decoration: none;
  color: #eee;
}

.homeContainer {
  min-height: 1200px;
  width: 100%;
  background-image: url(./assets/homeBackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.drumbody {
  background-color: #283149;
  width: 100%;
  min-height: 900px;
  margin-top: 70px;
}

#drumh1 {
  font-size: 5rem;
  color: #DBEDF3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #DA0463;
}

.w {
  background-image: url("images/tom1.png");
}

.a {
  background-image: url("images/tom2.png");
}

.s {
  background-image: url("images/tom3.png");
}

.d {
  background-image: url("images/tom4.png");
}

.j {
  background-image: url("images/snare.png");
}

.k {
  background-image: url("images/crash.png");
}

.l {
  background-image: url("images/kick.png");
}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #404B69;
  font-size: 5rem;
  font-family: "Arvo", cursive;
  line-height: 2;
  font-weight: 900;
  color: #DA0463;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}

/*# sourceMappingURL=style.css.map */
