@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  width: 100%;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1300px;
  width: 100%;
  margin: auto;
}

.headerContainer {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 100%;
  background: #ccc;
  position: fixed;
  top: 0;
  z-index: 10;
}
.headerContainer__content {
  max-width: 1300px;
  width: 100%;
  margin: auto;
}

.dropMenu {
  width: 100%;
}
.dropMenu__body {
  list-style: none;
}

.headerSvg {
  margin-right: 3rem;
}

.name {
  margin-left: 2%;
  font-weight: 1000;
  font-size: 2rem;
}

.menu {
  list-style: none;
  max-width: 35%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 5rem;
}
.menu__item {
  margin-left: 1rem;
}
.menu__link {
  position: relative;
  text-decoration: none;
  color: black;
}
.menu__link:hover {
  color: blue;
}
.menu__link:active {
  color: lightblue;
}
.menu__link::after {
  content: " ";
  width: 100%;
  height: 1px;
  position: absolute;
  top: 100%;
  left: 0;
  background: currentColor;
  transform: scale(0);
  transition: all 0.4s ease;
  transform-origin: center;
}
.menu__link:hover::after {
  transform: scale(1);
}

.selected {
  color: blue;
}

.footerContainer {
  width: 100%;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.side1Container {
  box-sizing: border-box;
  min-width: 197.5px;
  min-height: 1000px;
  width: 100%;
  border-radius: 10px;
  margin-top: 13%;
  overflow: hidden;
  margin-left: 1%;
  margin-right: 1.3%;
  box-shadow: 3px 10px 20px 10px #ccc;
}
@media only screen and (max-width: 800px) {
  .side1Container {
    max-width: 90%;
  }
}
@media only screen and (min-width: 801px) {
  .side1Container {
    max-width: 22%;
  }
}

.sid1Container__part1 {
  margin-top: 50px;
  background: chocolate;
  display: flex;
  justify-content: space-a;
  align-items: center;
  position: relative;
  flex-direction: column;
}

.side1Container__part1__img {
  width: 100%;
}

.side1Container__part1__icons {
  width: 100%;
  min-height: 48px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  line-height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  list-style-type: none;
  position: absolute;
  bottom: 0px;
}
.side1Container__part1__icons:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.icon {
  border-radius: 4px;
  width: 13%;
  background: seashell;
  transition: all 0.1s ease;
}
.icon:hover {
  transform: scale(1.3);
}

.iconP {
  width: 42%;
}

.side1Container__part2 {
  padding: 0 15px;
  font-size: small;
}

.details {
  margin: 20px 0px;
}
.details__h3 {
  color: #51535d;
}

.side1__attachememts {
  padding: 0px 15px;
}

.attachment__download {
  max-width: 100%;
  border-radius: 20px;
  border: solid 2px #5371ff;
  text-align: center;
  height: 35px;
  line-height: 35px;
  margin: 15px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: all 0.5s ease;
  overflow: hidden;
  position: relative;
  z-index: 2;
  box-shadow: 0px 10px 15px 3px #ccc;
}
.attachment__download::after {
  content: " ";
  height: 110%;
  width: 110%;
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  background: #5371ff;
  transform-origin: right;
  transform: scale(0, 1) skewX(-90deg);
  transition: all 1s ease;
  z-index: 1;
}
.attachment__download:hover {
  box-shadow: 0 8px 5px 4px rgba(0, 0, 0, 0.22);
}
.attachment__download:hover .attachment__download__link {
  color: seashell;
}
.attachment__download:hover::after {
  transform: scale(1.5, 1);
}
.attachment__download__link {
  width: 100%;
  text-decoration: none;
  font-size: 13px;
  color: #5371ff;
  transition: all 0.5s ease;
  position: relative;
  z-index: 2;
}
.attachment__download__svg {
  position: absolute;
  left: 10%;
}

.side2Container {
  box-shadow: 3px 10px 20px 10px #ccc;
  padding: 3% 5%;
  box-sizing: border-box;
  min-height: 1000px;
  margin-top: 13%;
  max-width: 72%;
  width: 100%;
  height: 900px;
  border-radius: 10px;
  margin-right: 1%;
}
@media only screen and (max-width: 800px) {
  .side2Container {
    max-width: 90%;
  }
}
.side2Container__part2 {
  margin-top: 50px;
}

.part2__body {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 13px;
  position: relative;
}
.part2__body__icon {
  font-size: 40px;
  color: gray;
  transition: all 1s ease;
}
.part2__body__icon:hover {
  transform: translateY(0.625rem);
}
.part2__body__h3 {
  max-width: 25%;
  width: 100%;
  margin-left: 25px;
  margin-right: 10px;
}
.part2__body__p {
  max-width: 60%;
  width: 100%;
}

.seemore {
  font-size: 15px;
  font-weight: 500;
  margin: 20px;
  position: absolute;
  right: 110px;
}
.seemore__a {
  text-decoration: none;
}
.seemore::after {
  content: " ";
  height: 2px;
  max-width: 130px;
  width: 100%;
  border-radius: 20px;
  position: absolute;
  left: 0;
  top: 100%;
  background: #5371ff;
  transition: all 0.3s ease;
  transform-origin: left;
  transform: scale(0.3, 1);
}
.seemore:hover::after {
  transform: scale(1);
}
.seemore:hover {
  color: #5371ff;
  font-style: italic;
}

/*# sourceMappingURL=style.css.map */
